<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= locals.title ? locals.title : site.title %></title>
		<meta
			name="description"
			content="<% if (locals.description) { %>
						<% locals.description %>
					<% } else { %>
						<% site.description %>
					<% } %> "
		/>

		<!-- Open Graph Meta Tags -->
		<meta
			property="og:title"
			content="<%= locals.meta && locals.meta['og:title'] ? locals.meta['og:title'].content : site.meta['og:title'].content %>"
		/>
		<meta
			property="og:description"
			content="<%= locals.meta && locals.meta['og:description'] ? locals.meta['og:description'].content : site.meta['og:description'].content %>"
		/>
		<meta
			property="og:type"
			content="<%= locals.meta && locals.meta['og:type'] ? locals.meta['og:type'].content : site.meta['og:type'].content %>"
		/>
		<meta
			property="og:url"
			content="<%= locals.meta && locals.meta['og:url'] ? locals.meta['og:url'].content : site.meta['og:url'].content %>"
		/>
		<meta
			property="og:image"
			content="<%= locals.meta && locals.meta['og:image'] ? locals.meta['og:image'].content : site.meta['og:image'].content %>"
		/>

		<!-- Twitter Card Meta Tags -->
		<meta
			name="twitter:card"
			content="<%= locals.meta && locals.meta['twitter:card'] ? locals.meta['twitter:card'].content : site.meta['twitter:card'].content %>"
		/>
		<meta
			name="twitter:title"
			content="<%= locals.meta && locals.meta['twitter:title'] ? locals.meta['twitter:title'].content : site.meta['twitter:title'].content %>"
		/>
		<meta
			name="twitter:description"
			content="<%= locals.meta && locals.meta['twitter:description'] ? locals.meta['twitter:description'].content : site.meta['twitter:description'].content %>"
		/>
		<meta
			name="twitter:image"
			content="<%= locals.meta && locals.meta['twitter:image'] ? locals.meta['twitter:image'].content : site.meta['twitter:image'].content %>"
		/>
		<meta
			name="twitter:image:alt"
			content="<%= locals.meta && locals.meta['twitter:image:alt'] ? locals.meta['twitter:image:alt'].content : site.meta['twitter:image:alt'].content %>"
		/>

		<link rel="stylesheet" href="./assets/main.css" />
	</head>
	<body class="u-background">
		<main class="o-grid">
			<section class="c-homepage__about"><%- content -%></section>
			<section class="c-homepage__contact">
				<h2>Contact me</h2>
				<% locals.contact.forEach(element => { %>
				<a
					class="c-homepage__contact__link c-homepage__contact__link--<%= element.way %>"
					href="<%= element.link %>"
					target="_blank"
				>
					<% if (element.way === "mail") { %>
					<svg
						viewBox="0 0 24 24"
						class="c-svgMail"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgMail__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgMail__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgMail__iconCarrier">
							<path
								d="M21 8L17.4392 9.97822C15.454 11.0811 14.4614 11.6326 13.4102 11.8488C12.4798 12.0401 11.5202 12.0401 10.5898 11.8488C9.53864 11.6326 8.54603 11.0811 6.5608 9.97822L3 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z"
							></path>
						</g>
					</svg>
					<% } else if (element.way === "linkedIn") { %>
					<svg
						viewBox="0 0 256 256"
						xmlns="http://www.w3.org/2000/svg"
						class="c-svgLinkedIn"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgLinkedIn__bgCarrier"></g>
						<g
							id="SVGRepo_tracerCarrier"
							class="c-svgLinkedIn__tracerCarrier"
						></g>
						<g id="SVGRepo_iconCarrier" class="c-svgLinkedIn__iconCarrier">
							<g>
								<path
									d="M0 18.338C0 8.216 8.474 0 18.92 0h218.16C247.53 0 256 8.216 256 18.338v219.327C256 247.79 247.53 256 237.08 256H18.92C8.475 256 0 247.791 0 237.668V18.335z"
									class="c-svgLinkedIn__path1"
								></path>
								<path
									d="M77.796 214.238V98.986H39.488v115.252H77.8zM58.65 83.253c13.356 0 21.671-8.85 21.671-19.91-.25-11.312-8.315-19.915-21.417-19.915-13.111 0-21.674 8.603-21.674 19.914 0 11.06 8.312 19.91 21.169 19.91h.248zM99 214.238h38.305v-64.355c0-3.44.25-6.889 1.262-9.346 2.768-6.885 9.071-14.012 19.656-14.012 13.858 0 19.405 10.568 19.405 26.063v61.65h38.304v-66.082c0-35.399-18.896-51.872-44.099-51.872-20.663 0-29.738 11.549-34.78 19.415h.255V98.99H99.002c.5 10.812-.003 115.252-.003 115.252z"
									class="c-svgLinkedIn__path2"
								></path>
							</g>
						</g>
					</svg>
					<% } else if (element.way === "github") { %>
					<svg
						viewBox="0 0 32 32"
						version="1.1"
						xmlns="http://www.w3.org/2000/svg"
						class="c-svgGithub"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgGithub__bgCarrier"></g>
						<g
							id="SVGRepo_tracerCarrier"
							class="c-svgGithub__tracerCarrier"
						></g>
						<g id="SVGRepo_iconCarrier">
							<title>github</title>
							<path
								d="M16 1.375c-8.282 0-14.996 6.714-14.996 14.996 0 6.585 4.245 12.18 10.148 14.195l0.106 0.031c0.75 0.141 1.025-0.322 1.025-0.721 0-0.356-0.012-1.3-0.019-2.549-4.171 0.905-5.051-2.012-5.051-2.012-0.288-0.925-0.878-1.685-1.653-2.184l-0.016-0.009c-1.358-0.93 0.105-0.911 0.105-0.911 0.987 0.139 1.814 0.718 2.289 1.53l0.008 0.015c0.554 0.995 1.6 1.657 2.801 1.657 0.576 0 1.116-0.152 1.582-0.419l-0.016 0.008c0.072-0.791 0.421-1.489 0.949-2.005l0.001-0.001c-3.33-0.375-6.831-1.665-6.831-7.41-0-0.027-0.001-0.058-0.001-0.089 0-1.521 0.587-2.905 1.547-3.938l-0.003 0.004c-0.203-0.542-0.321-1.168-0.321-1.821 0-0.777 0.166-1.516 0.465-2.182l-0.014 0.034s1.256-0.402 4.124 1.537c1.124-0.321 2.415-0.506 3.749-0.506s2.625 0.185 3.849 0.53l-0.1-0.024c2.849-1.939 4.105-1.537 4.105-1.537 0.285 0.642 0.451 1.39 0.451 2.177 0 0.642-0.11 1.258-0.313 1.83l0.012-0.038c0.953 1.032 1.538 2.416 1.538 3.937 0 0.031-0 0.061-0.001 0.091l0-0.005c0 5.761-3.505 7.029-6.842 7.398 0.632 0.647 1.022 1.532 1.022 2.509 0 0.093-0.004 0.186-0.011 0.278l0.001-0.012c0 2.007-0.019 3.619-0.019 4.106 0 0.394 0.262 0.862 1.031 0.712 6.028-2.029 10.292-7.629 10.292-14.226 0-8.272-6.706-14.977-14.977-14.977-0.006 0-0.013 0-0.019 0h0.001z"
							></path>
						</g>
					</svg>
					<% } %> <%= element.info %></a
				>
				<% }); %>
			</section>
			<section class="c-homepage__currentOccupation c-tooltip">
				<h2>Now?</h2>
				<p><%- locals.currentOccupation.title -%></p>
				<p class="c-homepage__currentOccupation__explain">
					What's that?
					<span class="c-tooltip__text">
						<%- locals.currentOccupation.description -%>
					</span>
				</p>
			</section>
			<section class="c-homepage__skills">
				<a href="skills" target="_self">link to skills</a>
				<h2>Technologies</h2>
				<ul>
					<% locals.techList.forEach(element => { %>
					<li><%- element %></li>
					<% }); %>
				</ul>
				<h2>Software</h2>
				<ul>
					<% locals.softwareList.forEach(element => { %>
					<li><%- element %></li>
					<% }); %>
				</ul>
				<p>
					See All
					<svg
						class="c-svgArrow"
						width="32px"
						height="32px"
						viewBox="-2.4 -2.4 28.80 28.80"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgArrow__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgArrow__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgArrow__iconCarrier">
							<path d="M7 17L17 7M17 7H8M17 7V16"></path>
						</g>
					</svg>
				</p>
			</section>
			<section class="c-homepage__moreAbout">
				<a href="about" target="_self">More about me</a>
				<h2>
					More about me
					<svg
						class="c-svgArrow"
						width="32px"
						height="32px"
						viewBox="-2.4 -2.4 28.80 28.80"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgArrow__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgArrow__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgArrow__iconCarrier">
							<path d="M7 17L17 7M17 7H8M17 7V16"></path>
						</g>
					</svg>
				</h2>
			</section>
			<section class="c-homepage__projects">
				<a href="projects" target="_self">projects</a>
				<h2>
					My Projects
					<svg
						class="c-svgArrow"
						width="32px"
						height="32px"
						viewBox="-2.4 -2.4 28.80 28.80"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgArrow__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgArrow__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgArrow__iconCarrier">
							<path d="M7 17L17 7M17 7H8M17 7V16"></path>
						</g>
					</svg>
				</h2>
			</section>
			<section class="c-homepage__playground">
				<a href="#" target="_self">Small projects</a>
				<h2>
					Small projects
					<svg
						class="c-svgArrow"
						width="32px"
						height="32px"
						viewBox="-2.4 -2.4 28.80 28.80"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgArrow__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgArrow__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgArrow__iconCarrier">
							<path d="M7 17L17 7M17 7H8M17 7V16"></path>
						</g>
					</svg>
				</h2>
			</section>
			<section class="c-homepage__copyright">
				<h2>©2024 - Demiddel Jesse</h2>
			</section>
		</main>
		<!-- <script src="/assets/vendor.js"></script> -->
		<script src="./assets/main.js"></script>
	</body>
</html>
